#flexItem {
    width: 200px !important;
}

div.articleIcon > i {
    margin: 0 .75em 0 0 !important;
}

div.ui.teal.label > i.refresh.icon {
    margin: 0 !important;
}

@media (max-width: 991px) {
    div.item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.ui.medium.image {
        padding-bottom: 1rem !important;
    }
}