@font-face {
    font-family: "AvenirNext";
    src: url("./fonts/AvenirNextLTPro-BoldIt.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "AvenirNext";
    src: url("./fonts/AvenirNextLTPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url("./fonts/AvenirNextLTPro-It.ttf");
    font-weight: normal;
    font-style: italic, oblique;
}

@font-face {
    font-family: "AvenirNext";
    src: url("./fonts/AvenirNextLTPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "AvenirNext", sans-serif !important;
}

h1, h2, h3, h4, h5, input {
    font-family: "AvenirNext", sans-serif !important;
}

.ui {
    font-family: "AvenirNext", sans-serif !important;
}

.ui.inverted.menu .link.item:active, .ui.inverted.menu a.item:active,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu .active.item {
    background: inherit !important;
}

.ui.list .list>.item a, .ui.list>.item a {
    color: white;
}

@media only screen and (max-width: 767px) {
    .mobile-hide {
        display: none !important;
    }

    .mobile-padding {
        padding-bottom: 0 !important;
    }
}